/* =========================
   1. Modern Reset
   ========================= */
*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
	height: auto;
	overflow-x: hidden;
}

html,
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
}

ul[role="list"],
ol[role="list"] {
	list-style: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

a {
	text-decoration: none;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

/* =========================
   2. Root Design Tokens
   ========================= */
:root {
	--site-max: 1152px;
	--site-pad: clamp(1rem, 3vw, 2rem);

	.container {
		width: min(100% - 2 * var(--site-pad), var(--site-max));
		margin-inline: auto;
	}

	/* Colors */
	--color-primary: #d3dad9;
	--color-secondary: #37353e;
	--color-accent: #ebd9d1;
	--color-bg: #f7f4ea;
	--color-text: #37353e;

	/* Spacing */
	--space-xs: 0.25rem;
	--space-sm: 0.5rem;
	--space-md: 1rem;
	--space-lg: 2rem;

	/* Fonts */
	--font-sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		sans-serif;
	--font-mono: ui-monospace, SFMono-Regular, Menlo, monospace;
}

/* =========================
   3. Base Styles
   ========================= */
html {
	font-size: 16px;
}

body {
	font-family: var(--font-sans);
	background-color: var(--color-bg);
	color: var(--color-text);
}

/* =========================
   4. Index page
   ========================= */
