---
import styles from "@components/Navigation/Navigation.module.css";
---

<div class={styles.navLinks}>
	<a href="/login" title="Go to the log in page">Log in</a>
	<a href="/register" title="Go to the register page">Register</a>
	<a href="/about" title="Go to the register page">About</a>
</div>
