---
import BaseLayout from "../layouts/BaseLayout.astro";
import LoginForm from "../components/LoginForm/LoginForm";
---

<BaseLayout>
	<div class="container">
		<LoginForm client:load />
	</div>
</BaseLayout>
