---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
	<section class="container">
		<div class="profile-container">
			<div class="profile">
				<div class="profile-header">
					<h2 class="container-heading">
						<i class="fas fa-user-circle"></i> Dashboard
					</h2>
					<p>Welcome Username!</p>
				</div>
				<div class="profile-content">
					<h3>My playlists</h3>
					<div>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam,
							molestiae.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</BaseLayout>
