---
import { Image } from "astro:assets";
import slothMediaLogo from "../images/slothmedia-logo.png";
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<header class="main-header bg-dark">
	<div class="header-inner bg-dark">
		<div class="header-div">
			<a href="/" title="Go to landing page" class="logo-link">
				<Image
					src={slothMediaLogo}
					alt="Slothmedia logotype"
					width={40}
					height={40}
				/>
			</a>
			<h1 class="site-title">
				<a href="/" title="Go to landing page">Slothmedia</a>
			</h1>
		</div>
		<nav aria-label="Main navigation">
			<Hamburger />
			<Navigation />
		</nav>
	</div>
</header>
