---
import styles from "@components/Footer/Footer.module.css";
const currentYear = new Date().getFullYear();
---

<footer class="main-footer bg-dark" role="contentinfo">
	<div class={`container ${styles.footerInner}`}>
		<nav aria-label="Footer navigation">
			<ul>
				<li>
					<a href="/about" title="Learn more about SlothMedia's app">About</a>
				</li>
				<li>
					<a href="/cookies" title="Learn more about our Cookies policy"
						>Cookies</a
					>
				</li>
				<li>
					<a href="/help" title="Go to our help page">Help</a>
				</li>
			</ul>
		</nav>
		<p>&copy; {currentYear} SlothMedia</p>
	</div>
</footer>
<script src="https://kit.fontawesome.com/0fdb5fe3c8.js" crossorigin="anonymous"
></script>
