---
import "../styles/global.css";
import Footer from "../components/Footer/Footer.astro";
import Header from "../components/Header/Header.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "../constants";

const { title = "Connect your favourite music" } = Astro.props;

interface Props {
	title?: string;
}
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content={SITE_DESCRIPTION} />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<title>{SITE_TITLE} - {title}</title>
	</head>

	<body>
		<Header />
		<slot />
		<Footer />
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
